%p Start a new rosham match!
= form_for RoshamMatch.new do |f|
    .to
        = f.label('to', 'To')
        = f.email_field('to')
    .from
        = f.label('from', 'From')
        = f.email_field('from')
    = f.submit
