%p Start a new rosham match!
= form_for @rosham_match do |f|
    .guest
        = f.label('guest', 'To')
        = f.email_field('guest')
    .host
        = f.label('host', 'From')
        = f.email_field('host')
    = f.submit
